
vendor-prefixes ?= webkit moz official
support-for-ie = false
@import 'nib/vendor'

$sm-viewport = 48em
$md-viewport = 62em
$lg-viewport = 75em

$gutter-width = 1rem
$outer-margin = 2rem
$gutter-compensation = $gutter-width / 2 * -1
$half-gutter-width = $gutter-width / 2
$screen-xs-min = 30em
$screen-sm-min = 48em
$screen-md-min = 62em
$screen-lg-min = 75em
$container-sm = 45rem + $gutter-width
$container-md = 60rem + $gutter-width
$container-lg = 70rem + $gutter-width

@import 'grids/xs-viewport'
@import 'grids/sm-viewport'
@import 'grids/md-viewport'
@import 'grids/lg-viewport'

.container-fluid
	margin-right: auto
	margin-left: auto
	padding-right: $outer-margin
	padding-left: $outer-margin

.row
	box-sizing: border-box
	display: flex
	flex: 0 1 auto
	flex-direction: row
	flex-wrap: wrap
	margin-right: $gutter-compensation
	margin-left: $gutter-compensation
	&.reverse
		flex-direction: row-reverse
		
.row-xs
	xs-viewport()
.row-sm
	sm-viewport()
.row-md
	md-viewport()
.row-lg
	lg-viewport()